#container-room_timer {
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
}

.timer {
    width: 65%;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    button {
        background-color: #a9a3e1;
        border: 1px solid #fff;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        text-shadow: 1px 1px 2px #00000082;
        transition: box-shadow 0.12s;
        line-height: 1;

        &:hover {
            box-shadow: inset 2px 2px 3px #00000044;
            scale: 0.98;
        }
    }

    button:disabled {
        background-image: none;
        background-color: #a4a4a4;
        text-decoration: line-through;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 3px;

        button {
            width: 9rem;
            height: 2.5rem;
            margin-bottom: 2px;
        }

        &--img {
            width: 10rem;
            height: 10rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &--sound {
            text-align: end;

            button:nth-child(1) {
                vertical-align: bottom;
            }
        }
    }

    &__middle {
        width: 100%;
        padding: 0 2rem;
        height: 12rem;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        position: relative;

        p {
            font-size: clamp(88px, 7vw, 128px);
            color: #fff;
            font-family: cursive;
        }
    }

    &__bottom {
        width: 100%;
        height: 8rem;
        margin-top: 3rem;
        padding: 0 4rem;

        form {
            height: 100%;
        }

        &--autocomplete {
            position: relative;
            width: 79.7%;
            margin-bottom: 2px;

            .phrases-dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                max-height: 200px;
                overflow-y: auto;
                background-color: #fff;
                border: 1px solid #a9a3e1;
                border-top: none;
                border-radius: 0 0 3px 3px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                z-index: 1000;

                &.hidden {
                    display: none;
                }

                .phrase-item {
                    padding: 8px 12px;
                    cursor: pointer;
                    transition: background-color 0.2s;
                    border-bottom: 1px solid #f0f0f0;
                    font-size: 1rem;

                    &:hover {
                        background-color: #f5f3ff;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &.no-results {
                        color: #999;
                        font-style: italic;
                        cursor: default;

                        &:hover {
                            background-color: #fff;
                        }
                    }
                }
            }

            .clear-phrase-btn {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                cursor: pointer;
                padding: 4px;
                display: none;
                align-items: center;
                justify-content: center;
                transition: opacity 0.2s;
                z-index: 10;

                &:hover {
                    opacity: 0.7;
                    box-shadow: none;
                    scale: 1;
                }

                svg {
                    fill: #666;
                    width: 14px;
                    height: 14px;
                }

                &.visible {
                    display: flex;
                }
            }
        }

        &--select {
            width: 100%;
            height: 1.6rem;
            font-size: 1rem;
            padding: 0 30px 0 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #fff;
            box-sizing: border-box;
            transition: border-color 0.2s, box-shadow 0.2s;

            &:focus {
                outline: none;
                border-color: #a9a3e1;
                box-shadow: 0 0 0 2px rgba(169, 163, 225, 0.2);
            }

            &::placeholder {
                color: #999;
                font-style: italic;
            }
        }

        &--container {
            display: flex;
            justify-content: space-between;
            height: 120%;

            &---message {
                position: relative;
                width: 79.7%;

                textarea {
                    width: 100%;
                    height: 100%;
                    resize: none;
                    padding: 0.3rem 2rem 0.3rem 0.3rem;
                    font-size: 1.2rem;
                    font-family: Arial, Helvetica, sans-serif;
                }

                div {
                    position: absolute;
                    top: 0;
                    right: -2px;

                    button {
                        display: flex;
                        flex-direction: column;
                        background-color: transparent;
                        border: 0;
                        box-shadow: none;

                        &:hover {
                            box-shadow: none;
                        }

                        .img-delete {
                            width: 1.5rem;
                            height: 1.5rem;
                        }

                        .img-back {
                            width: 1.4rem;
                            height: 1.4rem;
                            margin-left: 0.2rem;
                        }
                    }
                }

                .notification-message {
                    position: absolute;
                    bottom: 1.4rem;
                    right: 5px;
                    width: 1.5rem;
                    animation: messageSuccess 0.3s ease-out forwards;
                    display: block;
                }

                p {
                    position: absolute;
                    bottom: 1px;
                    right: 5px;
                    font-size: 1rem;

                    span {
                        font-family: "Times New Roman", Times, serif;
                    }
                }
            }

            &---submit {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 20%;
                min-width: 68px;

                button:nth-child(1) {
                    height: 35%;
                }

                button:nth-child(2) {
                    height: 63%;
                }
            }
        }
    }

    @media screen and (max-width: 1450px) {
        width: 70%;
    }

    @media screen and (max-width: 1200px) {
        width: 85%;
        padding: 1rem 1.5rem;
    }

    @media screen and (max-width: 800px) {
        padding: 0 0.5rem;

        &__middle {
            height: 8rem;

            p {
                font-size: clamp(35px, 9vw, 88px);
            }
        }

        &__bottom {
            padding: 0 2rem;
        }
    }

    @media screen and (max-width: 470px) {
        padding: 0 0.2rem;
        width: 95%;
        margin-top: 8rem;

        &__top {
            margin-bottom: 1rem;

            &--img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__middle {
            height: 6rem;
            padding: 0 0.5rem;
        }

        &__bottom {
            padding: 0 0.5rem;

            &--select {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 350px) {
        &__top {
            flex-wrap: wrap;
            justify-content: center;

            button {
                width: 100%;
                margin-bottom: 2px;
            }

            &--sound {
                text-align: start;
                margin-top: 1px;
            }

            &--managerTimer {
                min-width: 100%;
            }
        }

        &__bottom {
            height: auto;
            margin-top: 1.5rem;

            &--select {
                margin-bottom: 1px;
            }

            &--message {
                flex-wrap: wrap;

                textarea,
                div {
                    width: 100%;
                }

                textarea {
                    height: 100px;
                    margin-bottom: 2px;
                }

                div {
                    height: 80px;
                    justify-content: left;
                    margin-top: 2px;

                    button:nth-child(1) {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

#stop-alert {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    width: 3rem;
    height: 2.4rem;
    display: none;
    justify-content: center;
    align-items: center;
    fill: #fff;

    svg {
        width: 2rem;
        height: 1.6rem;
    }
}

@keyframes messageSuccess {
    from {
        translate: 0 1rem;
        opacity: 0;
    }
    to {
        translate: 0;
        opacity: 1;
    }
}
